.jumbotron {
  padding-top: 6rem;
  background-color: #a9a9a9;
}

#projects {
  background-color: #a9a9a9;
}

section {
  padding-top: 5rem;
}

.display-4 {
  color: white;
}

.lead {
  color: white;
}

.text {
  color: #fff;
}
